.filter-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.filter-container label {
    margin-right: 10px; /* Öğeler arasında boşluk bırakmak için */
}

.filter-container input[type="date"] {
    padding: 8px 16px; /* Daha belirgin hale getirmek için */
    margin-right: 10px; /* Giriş alanları arasında boşluk bırakmak için */
    border: 1px solid #ccc; /* Kenar çizgisi eklemek */
    border-radius: 4px; /* Yuvarlatılmış köşeler */
}

.filter-container button {
    padding: 8px 16px; /* Daha belirgin hale getirmek için */
    border: 1px solid #ccc; /* Kenar çizgisi eklemek */
    border-radius: 4px; /* Yuvarlatılmış köşeler */
    background-color: #007bff; /* Arka plan rengi */
    color: #fff; /* Yazı rengi */
    cursor: pointer; /* İşaretçi türü */
    transition: background-color 0.3s ease; /* Düğme renginin değişim hızı ve yumuşaklığı */
}



.filter-container button:hover {
    background-color: #0056b3; /* Fare üzerine gelindiğinde arka plan rengi */
}

.outer-container {
    display: flex;
    justify-content: flex-start;
  }

.form-group {
    margin-right: 10px;
}

.store-id-label {
    margin-right: 4px;
}

.store-id-container {
    display: flex;
    align-items: center;
}

.select-wrapper {
    width: 300px;
}

.select-wrapper select {
    width: 100%;
}




